body.index-body {
    color: #577598;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FAF9F6;
    padding: 0 350px;
}
.container {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.intro p {
    font-size: 25px;
    text-align: left;
}

.intro h1 {
    font-size: 64px;
    text-align: center;
}

.description {
    
    font-size: 20px;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: #577598;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 50px;
}


@keyframes typewriter {
    from { width: 0; }
    to { width: 60%; }
  }
  
  .intro h1 {
    text-align: left;
}

.intro h1 span {
    display: inline-block;
    overflow: hidden;
    border-right: .1em solid #577598; 
    white-space: nowrap; 
    
    letter-spacing: .05em; 
    animation: 
      typewriter 2s steps(10, end),
      blink-caret 1s step-end infinite;
}

  @keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: #577598}
  }

body.about-body {
    color: #577598;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10 350px;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    color: #999;
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
}

a {
    color: #0099ff;
    text-decoration: none;
}

ul {
    padding-left: 20px;
    text-align: left;
}

ul li {
    line-height: 1.4;
}


body.projects-body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FAF9F6;
    color: #577598;
    padding: 110px 210px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
    grid-column: span 1;
}

.project {
    border: 1px solid #577598;
    padding: 20px;
    border-radius: 10px;
}

.project h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project p {
    font-size: 18px;
    margin-bottom: 10px;
}

.project a {
    display: inline-block;
    background-color: #577598;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #3a506b;
}

.modal {
    display: none; 
    justify-content: center;
    align-items: left;
    padding: 20px; /* Adjust this value to increase or decrease the space around the modal */
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background: transparent; 
}

.modal-content {
    background-color: #FAF9F6;
    padding: 10px;
    border: 2px solid #577598;
    width: 35%;
}

/* The Close Button */
.close {
    color: #3a506b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content img {
    width: 50%;  /* This will make the image take the full width of its parent */
    height: 50%; /* This will scale the height in proportion to the width */
}
.back-link {

    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #577598; /* Change color as needed */
}
